<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add
			name="DatabaseConnection"
			connectionString="Data Source=.;Initial Catalog=ClinicDB;Integrated Security=True"
			providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<appSettings>
		<add key="IntervalHours" value="2"/>
		<add key="NoShowThresholdMinutes" value="60"/>
		<add key="SmtpHost" value="smtp.gmail.com"/>
		<add key="SmtpPort" value="587"/>
		<add key="SmtpUser" value="moatazachour84@gmail.com"/>
		<add key="SmtpPass" value="dxsv bpga wrpn jfhz"/>
	</appSettings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>